.git
.gitignore
.vscode
.idea
.DS_Store
.env
.env.*
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/.venv
**/venv
**/env
**/node_modules
**/dist
**/app
**/coverage
**/logs
**/*.log
**/*.tsbuildinfo
